@using NPT_Teatro.Utilidades
@model NPT_Teatro.Models.Obra
@{
    ViewData["Title"] = "Editar obras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(User.IsInRole(CNT.Admin))
            {

<br />
<br />
<h3 class="text-center text-light">Editar una nueva obra</h3>
<form method="post" asp-action="Edit">
    <div class="row px-2 mx-2 border">
        <div asp-validtaion-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label class="text-light" asp-for="Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model.Id">Actualizar</button>
                            &nbsp;
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success form-control">Volver a lista</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</form>
            }
<p class="text-center" style="font-size: 50px;">Acceso no autorizado</p>




